@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}
body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mobile-container
{
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;

}

.favorite-container{
    padding:0.1rem;
    text-align: center;
    background-color:beige;
    border-radius: 2%;
}

.favorite-meals{
    display: flex;
    list-style-type: none;
    padding: 0;
    
}

.meal{
    
}
.meal-header {
    position: relative;
}
.meal-header img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.favorite-meals li{

}

.favorite-meals img{
width: 100px;
height: 100px;
object-fit: cover;
border: 3px;
border-radius: 20%;
}

header{
    padding: 1rem;
    color: #000;
    text-align: center;
}

header button{
    font-size: 1rem;
    color: #aaaa;
    border: none;
    background-color: transparent;
}

header input{
    background-color: #eee;
    border:none;
    border-radius: 3px;
    padding: 0.5rem 1rem
}

img{
    max-width: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}